h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 200;
}

h5 {
    font-size: 16px;
    font-weight: 200;
}