h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 300;
}

h5 {
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }
}